@charset "UTF-8";
.sobre {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.sobre p {
  grid-column: 2 / 4;
  text-align: justify; }

.banners-main {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.banners-main .banner-1, .banner-2 {
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.5em;
  border-radius: 10px;
  -webkit-box-shadow: 0.5px 0.5px 5px #333;
          box-shadow: 0.5px 0.5px 5px #333; }

.banner-1:hover, .banner-2:hover {
  -webkit-animation: bounce-bottom 0.9s both;
          animation: bounce-bottom 0.9s both; }

.banners-main h2 {
  grid-column: 2 /4;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  color: #658;
  text-align: center;
  margin-bottom: 1em; }

.banners-main h3 {
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  color: #658;
  text-align: center;
  margin-bottom: .5em; }

.banners-main p {
  text-align: justify;
  padding: 1em; }

.banner-1 {
  grid-column: 2; }

.banner-2 {
  grid-column: 3; }

.vantagens {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.vantagens ol {
  grid-column: 2 / 4;
  color: #658; }

.vantagens li {
  color: #333;
  font-family: 'Hubballi', cursive;
  font-size: 1.2em;
  line-height: 1.2em;
  padding-bottom: 1em; }

.feedback {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.users {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.user-1, .user-3 {
  grid-column: 1; }

.user-2, .user-4 {
  grid-column: 2; }

.feedback .users {
  grid-column: 2 / 4;
  text-align: justify; }

.users img {
  max-width: 65px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 500px;
  background: #333; }

.users h3 {
  grid-column: 1 / 4; }

.user-1, .user-2, .user-3, .user-4 {
  width: 75%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1.5em;
  color: #333; }

.faq {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.faq dl {
  grid-column: 2 / 4;
  text-align: left;
  text-align: justify; }

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #555;
  cursor: pointer; }

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #658; }

.contato {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.contato-content {
  grid-column: 2 / 4;
  text-align: center; }

.email-contato a {
  text-decoration: none;
  color: #333; }

.redes-contato a {
  width: 15em;
  background: white;
  color: #658;
  text-decoration: none;
  padding: .5em;
  border: 1px solid #658;
  border-radius: 20px;
  font-family: 'Hubballi', cursive;
  font-size: 1.2em; }

.redes-contato a:hover {
  background: #658;
  color: white;
  -webkit-transition: .3s;
  transition: .3s; }

/* ----------------------------------------------
 * Generated by Animista on 2022-3-14 13:42:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-bottom
 * ----------------------------------------
 */
@-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  25%,
    55%,
    75%,
    87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1; } }
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  25%,
    55%,
    75%,
    87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1; } }
.home-predios {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.predios {
  grid-column: 2 / 4; }

.predios a {
  width: 300px;
  display: block;
  background: white;
  color: #658;
  text-decoration: none;
  padding: .5em;
  border: 1px solid #658;
  border-radius: 20px;
  text-align: center;
  font-family: 'Hubballi', cursive;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1em; }

.predios a:hover {
  background: #658;
  color: white; }

.andares {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.andar {
  grid-column: 2 / 4; }

.andar a, .apartamentos a {
  width: 300px;
  display: block;
  background: white;
  color: #658;
  text-decoration: none;
  padding: .5em;
  border: 1px solid #658;
  border-radius: 20px;
  text-align: center;
  font-family: 'Hubballi', cursive;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1em; }

.andar a:hover, .apartamentos a:hover {
  background: #658;
  color: white; }

.andar-1, .andar-2, .andar-3, .andar-4 {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.apartamentos {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto; }

.apartamentos h3 {
  color: #333; }

.apartamento-1, .apartamento-3 {
  grid-column: 2; }

.apartamento-2, .apartamento-4 {
  grid-column: 4; }

.apartamento-1, .apartamento-3, .apartamento-2, .apartamento-4 {
  margin-bottom: 1em;
  padding: .5em;
  text-align: center; }

.apart-morador {
  grid-column: 2 / 4;
  margin: 0 auto; }

.apart-morador li {
  color: #658;
  font-family: monospace;
  font-size: 1.5em;
  margin-bottom: .5em;
  padding: .5em; }

.apart-morador a {
  color: #333; }

.apart-morador a:hover {
  color: #658; }

.js [data-anime="accordion"] dd {
  display: none; }

[data-anime="accordion"] dt::after {
  content: '⬎';
  margin-left: 10px; }

[data-anime="accordion"] dt.ativo::after {
  content: '⬏'; }

[data-anime="accordion"] dd.ativo {
  display: block;
  -webkit-animation: slideDown .5s forwards;
          animation: slideDown .5s forwards; }

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0; }
  to {
    max-height: 200px;
    opacity: 1; } }

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0; }
  to {
    max-height: 200px;
    opacity: 1; } }
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-container.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal {
  background: white;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #658;
  -webkit-box-shadow: 0 0 0 10px white;
          box-shadow: 0 0 0 10px white;
  position: relative; }

@-webkit-keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); } }

@keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); } }
.ativo .modal {
  -webkit-animation: modal .3s forwards;
          animation: modal .3s forwards; }

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background: #658;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  font-family: monospace;
  cursor: pointer; }

.modal label {
  font-family: monospace;
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0; }

.modal input {
  width: 100%;
  padding: .7rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #658; }

.modal a[type="submit"] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  background: #658;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: monospace;
  margin-top: 1rem;
  cursor: pointer; }

.modal a:hover {
  background-color: white;
  color: #658;
  border: 0.1px solid #658; }

body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px; }

img {
  display: block;
  max-width: 100%; }

ul {
  list-style: none; }

hr {
  grid-column: 1 / 5;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5em;
  color: #333; }

p, dd {
  font-family: 'Hubballi', cursive;
  font-size: 1.2em;
  line-height: 1em; }

a {
  text-decoration: none;
  cursor: pointer; }

h1 {
  grid-column: 1 / 4;
  font-size: 6rem;
  font-family: monospace;
  font-weight: bold;
  color: #658;
  text-align: left;
  margin-bottom: 0.5em; }

h3 {
  font-size: 2em;
  font-family: monospace;
  font-weight: bold;
  color: #658;
  text-align: center;
  margin-bottom: 1em; }

body {
  background: rgba(248, 248, 248, 0.226);
  color: #333;
  -webkit-font-smoothing: antialiased; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 150px minmax(500px, 1200px) 1fr; }

.menu {
  grid-column: 3 / 5;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr;
  margin-top: 2em;
  margin-bottom: 4em;
  background: #333;
  color: white; }

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 10px;
  grid-column: 2 / 5;
  margin-left: 3em; }

.menu li a {
  display: block;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  padding: .5em;
  margin-right: .5em; }

.menu a:hover {
  color: #658;
  -webkit-transition: .3s;
  transition: .3s; }

.menu img {
  grid-column: 1;
  max-width: 100%;
  padding: 2em; }

.corpo {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  margin-bottom: 5em; }

.rodape {
  grid-column: 3 / 5;
  margin-top: 2em;
  margin-bottom: 2em;
  background: #333; }

.rodape p {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 1.5em; }

.tabela {
  text-align: center;
  grid-column: 2 / 4;
  margin: 0 auto; }

.tabela th {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  color: #658;
  margin: 0px;
  padding: .5em;
  border-bottom: 1px solid #333; }

.tabela td {
  font-family: monospace;
  font-size: 1.5em;
  margin: 0px;
  padding: .5em;
  border-bottom: 1px solid #333; }

.tabela a {
  color: #333; }

.tabela a:hover {
  color: #658; }

.form-pesquisa form {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 20px; }

.tabela input {
  font-family: 'Hubballi', cursive;
  font-weight: bold;
  font-size: 1.2em;
  background: white;
  color: #658;
  border: 1px solid #658;
  border-radius: 20px;
  padding: .5em; }

.tabela button {
  font-family: 'Hubballi', cursive;
  font-weight: bold;
  font-size: 1.2em;
  background: #658;
  color: white;
  border: none;
  border-radius: 20px;
  padding: .5em;
  text-align: center;
  font-weight: bold;
  cursor: pointer; }

.tabela button:hover {
  background: white;
  color: #658;
  border: 1px solid #658;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s; }

/*# sourceMappingURL=style.css.map */